/* Estilos Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f0fdf4; /* Fondo verde menta escolar */
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    padding: 40px 20px;
}

.contenedor-principal {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}   

header {
    margin-bottom: 40px;
}

.intro {
    font-family: 'Fredoka One', cursive;
    color: #f59e0b;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    color: #1d4ed8;
    font-size: 3.5rem;
    margin: 10px 0;
    text-shadow: 2px 2px 0px #dbeafe;
}

h2 {
    color: #4b5563;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Contenedor de Tarjetas */
.zona-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Estructura de la Flashcard */
.flashcard {
    background-color: transparent;
    width: 280px;
    height: 380px;
    perspective: 1000px; /* Crea el espacio 3D */
    cursor: pointer;
}

/* El contenedor interno que realmente gira */
.card-interior {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 15px;
}

/* Cuando se añade la clase 'girada' mediante JS, la tarjeta se voltea */
.flashcard.girada .card-interior {
    transform: rotateY(180deg);
}

/* Cara Frontal y Trasera */
.card-frontal, .card-trasera {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Oculta la cara contraria al girar */
    backface-visibility: hidden;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos de la Cara Frontal */
.card-frontal {
    border: 5px dashed rgba(255, 255, 255, 0.4);
    color: white;
}

.fondo-azul { background-color: #3b82f6; }
.fondo-verde { background-color: #10b981; }
.fondo-naranja { background-color: #f59e0b; }

.emoji-grande {
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.card-frontal h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.instruccion {
    font-size: 0.9rem;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilos de la Cara Trasera (El mensaje secreto) */
.card-trasera {
    background-color: #ffffff;
    color: #1f2937;
    transform: rotateY(180deg); /* Ya empieza al revés */
    border: 4px solid #e5e7eb;
    justify-content: space-between; /* Separa el texto de la decoración */
}

.card-trasera h4 {
    font-family: 'Fredoka One', cursive;
    color: #1f2937;
    font-size: 1.4rem;
}

.card-trasera p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #4b5563;
}

.decoracion-baja {
    font-size: 1.5rem;
}